/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
#main ol, #main ul { padding-left: 2rem; }
nav { padding-top: 1rem; }

/* -----------------------------------------
   Site Map
----------------------------------------- */
.sitemap #main{
  -moz-column-count: 3;
  -moz-column-gap: 20px;
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  column-count: 3;
  column-gap: 20px;
}
.sitemap h1 {
  -moz-column-span: all;
  -webkit-column-span: all;
  column-span: all
}



/* -----------------------------------------
   Page Name 2
----------------------------------------- */


